/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* utilities */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container-big {
    max-width: 80%;
    margin: 0 auto;
}

.container-small {
    max-width: 70%;
    margin: 0 auto;
}

.col {
    float: left;
}

.w-30 {
 width: 30%;
}

.w-33 {
    width: calc(100% / 3);
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: 700;
}

.font-xl {
    font-size: 2rem;
}

.font-l {
    font-size: 1.5rem;
}

.font-m {
    font-size: 0.9rem;
}

.font-s {
    font-size: 0.8rem;
}

.font-xs {
    font-size: 0.7rem;
}

a.btn.btn-blue {
    background-color: rgb(27, 101, 244);
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}

.bg-blue {
    background-color: rgb(184, 207, 229);
}

.check.selected {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 4px solid rgb(27, 101, 244);
    border-radius: 50%;
}

.check.unselected {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 50%;
}

.border-grey {
    border: 1px solid lightgrey;
}

.font-grey {
    color: grey;
}

/* menu */

.menu .col {
    padding: 10px 0;
}

.menu .nav-left,
.menu .nav-right {
    height: 50px;
    line-height: 50px;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
}

.menu li a {
    color: black;
    text-decoration: none;
}

#logo {
    height: 20px;
    vertical-align: middle;
}

/* jumbotron */

.jumbotron  {
    height: 600px;
}

.jumbotron h1 {
    font-size: 4rem;
    padding-top: 60px;
}

.jumbotron .col {
    padding-top: 40px;
}

.jumbotron .col.w-30 {
    padding-right: 25px;
}

.jumbotron .col.w-70 {
    padding-left: 30px;
}

.jumbotron a {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.jumbotron .arrow-down {
    padding-top: 25px;
}

.jumbotron img {
    width: 90%;
}

/* sezione 1 */

.section1 h2 {
    padding-top: 150px;
}

.section1 .checks {
    padding-top: 40px;
}

.check-text {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -3px;
} 

.section1 .plans {
    margin-top: 40px;
    margin-bottom: 40px;
}

.section1 .col-left {
    padding-right: 26px;
}

.section1 .col-center {
    padding-right: 14px;
    padding-left: 14px;
}

.section1 .col-right {
    padding-left: 26px;
}

.section1 .tab-title,
.section1 .title-enterprise {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.section1 .tab-content {
    height: 850px;
    padding: 0 30px;
}

.section1 .tab-content h3 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.section1 .tab-content .text-price {
    padding-top: 5px;
    padding-bottom: 25px;  
}

.section1 .tab-content .space {
    padding: 15px 0;
}

.section1 .tab-content a.btn {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px; 
}

.section1 .tab-content .buy-now a {
    color: rgb(34, 107, 246);
}

.section1 .tab-content hr {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 20%;
}

.section1 .tab-content li {
    padding-top: 15px;
    list-style-type: none;
}

.section1 .tab-content li::before {
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: rgb(34, 107, 246);
}

.section1 .content-enterprise {
    padding: 25px;
}

.section1 .col-enterprise .col.w-50 {
    height: 35px;
    line-height: 35px;
}

.section1 .col-enterprise a {
    padding-left: 65px;
    padding-right: 65px;
}

.section1 .content-enterprise .sales {
    padding-top: 15px;
    padding-bottom: 30px;
}