/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/********** utilities **********/

.border-grey {
    border: 1px solid lightgrey;
}

/* container */

.container-big {
    max-width: 80%;
    margin: 0 auto;
}

.container-small {
    max-width: 70%;
    margin: 0 auto;
}

/* float */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: calc(100% / 3 - 40px);
}

.w-33:nth-of-type(2) {
    margin: 0 60px;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-400px {
    width: 400px;
}

/* text-align */

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* fonts */

.font-bold {
    font-weight: 700;
}

.font-xl {
    font-size: 2.2rem;
}

.font-l {
    font-size: 1.5rem;
}

.font-m {
    font-size: 0.9rem;
}

.font-s {
    font-size: 0.8rem;
}

.font-xs {
    font-size: 0.7rem;
}

.font-grey {
    color: grey;
}

.font-blue {
    color: rgb(34, 107, 246);
}

.font-white {
    color: white;
}

/* buttons */

a.btn.btn-blue {
    background-color: rgb(27, 101, 244);
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}

a.btn.btn-blue:hover {
    opacity: 0.4;
}

a.btn.btn-white {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 15px;
    text-decoration: none;
}

a.btn.btn-white:hover {
    opacity: 0.6;
}

/* background */

.bg-blue {
    background-color: rgb(184, 207, 229);
}

.bg-black {
    background-color: black;
}

.check.selected {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 4px solid rgb(27, 101, 244);
    border-radius: 50%;
}

/* radio */

.check.unselected {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 50%;
}


/********** menu **********/

.menu {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid lightgray;
}

.menu .col,
.menu .nav-left,
.menu .nav-right,
.menu ul,
.menu li {
    height: 100%;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
}

.menu .nav-left li:hover:not(:first-of-type),
.menu .nav-right li:hover:not(:last-of-type) {
    border-bottom: 2px solid rgb(27, 101, 244);
}

.menu li a {
    color: black;
    text-decoration: none;
}

#logo {
    height: 20px;
    vertical-align: middle;
}

/********** jumbotron **********/

.jumbotron  {
    height: 650px;
    margin-bottom: 150px;
}

.jumbotron h1 {
    font-size: 4rem;
    padding-top: 120px;
}

.jumbotron .col {
    padding-top: 40px;
}

.jumbotron .col.w-30 {
    padding-right: 25px;
}

.jumbotron .col.w-70 {
    padding-left: 30px;
}

.jumbotron a {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.jumbotron .arrow-down {
    padding-top: 35px;
}

.jumbotron img {
    width: 90%;
}

/********** sezione 1 **********/

.section1 {
    margin-top: 150px;
    margin-bottom: 60px;
}

.section1 .checks {
    padding-top: 40px;
}

.section1 .check-text {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -3px;
} 

.section1 .plans {
    margin-top: 40px;
    margin-bottom: 40px;
}

.section1 .tab-title,
.section1 .title-enterprise {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.section1 .tab-content {
    height: 850px;
    padding: 0 30px;
}

.section1 .tab-content h3 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.section1 .tab-content .text-price {
    padding-top: 5px;
    padding-bottom: 25px;  
}

.section1 .tab-content a.btn {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px; 
}

.section1 .tab-content hr {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 20%;
}

.section1 .tab-content li {
    padding-top: 15px;
    padding-left: 18px;
    list-style-type: none;
    text-indent: -9px;
}

.section1 .tab-content li::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}

.section1 .tab-content .user::before {
    content: '\f007';
}

.section1 .tab-content .folder::before {
    content: '\f07b';
}

.section1 .tab-content .pencil::before {
    content: '\f303';
}

.section1 .tab-content .user-plus::before {
    content: '\f234';
}

.section1 .tab-content .smile::before {
    content: '\f118';
}

.section1 .tab-content .second-list li::before {
    content: '\f00c';
    color: rgb(34, 107, 246);
}

.section1 .content-enterprise {
    padding: 25px;
}

.section1 .col-enterprise .col.w-50 {
    height: 35px;
    line-height: 35px;
}

.section1 .col-enterprise a {
    padding-left: 65px;
    padding-right: 65px;
}

.section1 .content-enterprise .sales {
    padding-top: 15px;
    padding-bottom: 30px;
}

/********** sezione 2 **********/

.section2 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.section2 .col.w-60 {
    padding: 40px 60px 40px 0;
}

.section2 img {
    width: 100%;
}

.section2 .col.w-40 {
    padding-top: 70px;
    padding-left: 10px;
}

.section2 p {
    padding-top: 30px;
    padding-bottom: 25px;
}

/********** sezione 3 **********/

.section3 {
    margin-top: 40px;
    margin-bottom: 150px;
}

.section3 .row {
    padding-top: 80px;
}

.section3 img {
    width: 100%;
}

.section3 h3 {
    padding: 25px 0;
}

/********** sezione 4 **********/

.section4 {
    margin-top: 150px;
    margin-bottom: 100px;
}

.section4 .container-small.header {
    padding-right: 480px;
}

.section4 .container-small.header a {
    display: inline-block;
    margin: 30px 0;
}

.section4 .companies .col.w-50 {
    height: 200px;
}

.section4 .companies .w-center {
    width: calc(100% - 800px);
}

.section4 .companies .col.w-50 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.section4 .companies .company1 {
    background-image: url('../img/designit.svg');
    background-color: rgb(172, 209, 160);
    border: 10px solid rgb(213, 231, 207);
}

.section4 .companies .company2 {
    background-image: url('../img/arizona_state_university.svg');
    background-color: rgb(89, 20, 43);
}

.section4 .companies .company3 {
    background-image: url('../img/university_of_florida.svg');
    background-color: rgb(60, 147, 201);
}

.section4 .companies .company4 {
    background-image: url('../img/topps.svg');
    background-color: rgb(235, 58, 47);
}

.section4 .companies .company5 {
    background-image: url('../img/world_bicycle_relief.svg');
    background-color: rgb(196, 41, 43);
}

.section4 .companies .company6 {
    background-image: url('../img/hearst_corp.svg');
    background-color: rgb(184, 207, 229);
}

.section4 .companies .company7 {
    background-image: url('../img/lonely_planet.svg');
    background-color: rgb(13, 39, 119);
}

.section4 .companies .company8 {
    background-image: url('../img/clear_channel.svg');
    background-color: rgb(250, 215, 86);
}

.section4 .companies .col.w-center {
    height: 400px;
    background-color: rgb(245, 245, 245);
    padding: 40px;
}

.section4 .companies img {
    width: 20%;
}

.section4 .companies hr {
    width: 10%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.section4 .companies .quote {
    margin-top: 35px;
}

.section4 .free-test .col {
    padding: 100px 0;
}

.section4 .free-test h2 {
    color: rgb(89, 20, 43);
}

.section4 .free-test a {
    border: none;
    padding-left: 40px;
    padding-right: 40px;
}

/********** sezione 5 **********/

.section5 {
    margin-top: 100px;
    margin-bottom: 80px;
}

.section5 h3 {
    font-size: 1.7rem;
    margin-bottom: 30px;
}

.section5 .faq {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-top: 1px solid lightgrey; 
}

.section5 .faq:last-of-type {
    border-bottom: 1px solid lightgray;
}

.section5 .faq .col.w-30::before {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/********** footer **********/

footer {
    margin-top: 100px;
}

.footer-top {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-top ul {
    padding-top: 15px;
}

.footer-top li {
    list-style-type: none;
    padding-bottom: 5px;
}

.footer-top li a {
    text-decoration: none;
    color: white;
}

.footer-bottom {
    padding-bottom: 40px;
}

.footer-bottom hr {
    width: 7%;
}

.footer-bottom .lang {
    padding-top: 40px;
}

.footer-bottom .lang::before {
    content: '\f57d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 3px;
}

.footer-bottom .lang::after {
    content: '\f0de';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: relative;
    left: 3px;
    top: 3px;
}
